body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border: 1px solid #ccc;
}

.sidebar-esquerda {
    left: 0;
    background-color: #f1f1f1;
    padding: 3px;
    width: 20vw;
}

.sidebar-direita {
    right: 0;
    background-color: #f9f9f9;
    padding: 3px;
    width: 27vw;
}

.container {
    position: absolute;
    top: 0%;
    left: 19%; 
    width: 61%;
}


.componente-central {
    /* background-color: #fff; */
    padding: 10px;
    border: 1px ;
    display: inline;
    /* flex-grow: 1; */
}

.container_regras {
    /* display: flex; */
    /* width: 99%; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding:  0px 4px 80px 4px;

}

.main-content {
    /* flex: 1; */
    padding: 5px;
    /* display: flex; */
    /* flex-direction: column; */
}

.button_sidebar_direita {
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding: 5px;
}

.button_sidebar_direita button {
    flex-grow: 1; /* Cada botão irá crescer para ocupar a largura total disponível */
    margin: 0 2px; /* Adiciona margem entre os botões */
    width: auto; /* Define a largura automaticamente com base no conteúdo */
    max-width: 150px; /* Define a largura máxima de cada botão */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content {
    position: relative;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.container_politica {
    display: flex;
    align-items: center;
}

select {
    width: 200px; /* Largura do select */
    padding: 1px;
    margin-right: 10px; /* Margem à direita para separação do botão */
}

button {
    border-radius: 5px; /* Valor em pixels para o raio das bordas */
    border-color: white;
    border: 0px;
    background-color: transparent;
}

.button-background:hover {
    background-color: #6d6c6c;
}

/* Estilo para a tabela */
table {
    width: 90%;
    border-collapse: collapse; /* Mescla as bordas das células */
    padding: 20px;
  }
  
  /* Estilo para o cabeçalho da tabela */
  th {
    background-color: #b3b3b3; /* Cor de fundo */
    color: #222222; /* Cor do texto */
    font-weight: bold; /* Negrito */
    padding: 8px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
  }
  
  /* Estilo para as células da tabela */
  td {
    padding: 8px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
  }
  
  /* Estilo para linhas alternadas (opcional) */
  tr:nth-child(even) {
    background-color: #e2e0e0; /* Cor de fundo para linhas pares */
  }
  